.classroomgame-buttons {
    -fx-background-color: #2b7a2b;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}
.classroomgame-buttons:hover {
    -fx-background-color: #176918;
    -fx-background-radius: 10px;
}
.background {
    -fx-background-image: url('../../../images/CategoryPictures/Classroom/classroombg.jpg');
    -fx-background-size: cover;
    -fx-alignment: center;
}
.timer{
    -fx-fill: white;
}
.timer-background{
    -fx-background-color: #175018;
}
.menu-background{
    -fx-background-color: #175018;
}
.bottom-navigation-button {
    -fx-background-color: #175018;
    -fx-text-fill: white;
}
.bottom-navigation-button:hover{
    -fx-background-color: #28722f; /* Grey color */
}
.start-button {
    -fx-background-color: #275428; /* Grey color */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-padding: 10; /* Add padding for better visibility */
    -fx-text-fill: white; /* Text color */
}
/* Style on hover */
.start-button:hover {
    -fx-background-color: #17561a; /* Grey color */
    -fx-opacity: 1; /* Restore full opacity on hover */
}
.start-button:pressed {
    -fx-background-color: #005402; /* Grey color */
    -fx-transition: opacity 1.5s; /* Apply transition effect to opacity over 1.5 seconds */
    -fx-opacity: 0; /* Set initial opacity to 0 */
}
.transparent-background {
     -fx-background-color: transparent;
}